body {
    background-color: #F4F7F8;
}
.middle {
    margin-top: 5vh;
}
.flash {
    color: red;
}
.delete-form, .form-area, .items, .item-details, .cat-summary, .categories {
    background-color: lightgray;
    box-shadow: 3px 3px 3px grey;
    border-radius: 15px;
}
pre {
    background-color: lightgray;
    border: none;
}
.options {
    margin-bottom: 5px;
}
.category, .item {
    padding-bottom: 2px;
    border-bottom: solid gray 1px;
}
.item-to-delete {
    text-align: center;
}
.form-buttons {
    padding-bottom: 5px;
    text-align: center;
}
.footer {
    background-color: #2e3b4c;
    color: white;
    padding-top: 3vh;
}
.block-stuff {
    margin-top: 3vh;
    margin-bottom: 3vh;
}
.header {
    background-color: #2e3b4c;
    padding-bottom: 3vh;
}
html {
    background-color: #2e3b4c;
}
.createnew {
    margin-left: 50px;
}
.login-functions {
}
.log-in-out {
    float: right;
    display: inline-flex;
    vertical-align: baseline;
    margin-top: 3vh;
    color: white;
}
.prof-pic {
    max-width: 50px;
}
.left {
    margin-right: 5px;
}
.butt {
    float: right;
}
.logmsg {
    vertical-align: bottom;
}
textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}
.right {
    display: inline-grid;
    float: right;
}
.loggedout {
    margin-top: 5px;
}


@media (max-width: 767px) {
    .site-title {
        text-align: center;
    }
    .delete-form, .form-area, .item-details, .cat-summary, .items, .categories {
        box-shadow: none;
        border-radius: 0;
        width: 100%;
    }
}
