* {
    outline: 1px solid red !important;
    /*min-height: 100px;*/
}
body {
    /*background-color: lightblue;*/
}
.middle {
    /*background-color: red;*/
}
.items {
    /*background-color: blue;*/
}
.categories {
    /*background-color: purple;*/
}
.title {
    /*background-color: lightgreen;*/
}
.footer {
    /*background-color: green;*/
    /*display: inline-flex;*/
}
.header {
    /*background-color: orange;*/


}
.createnew {
    margin-left: 50px;
}
.login-functions {
}
.log-in-out {
    float: right;
    /*margin-right: 0;
    margin-left: auto;*/

}
.header-old {
}
.inbut {
    /*float: right;*/

}
.prof-pic {
    max-width: 100px;
}
