<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Item Catalog</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <div class="container-fluid header">
            <div class="row">
                <div class="col-xs-12 col-sm-6 site-title">
                    <h1><a href="{{url_for('show_catalog')}}">Item Catalog</a></h1>
                </div>
                <div class="col-xs-12 col-sm-6 login-functions ">
                    <div class="log-in-out">
                        {% if 'username' not in session %}
                            <span class="loggedout">You're not currently logged in.</span>
                            <a href="{{url_for('show_login')}}"><button class="inbut" type="button" name="login">Login</button></a>
                        {% else %}
                            <div class="left">
                                <img class="img-fluid prof-pic" src="{{picture}}">
                            </div>
                            <div class="right">
                                <span class="logmsg">You're logged in as <b>{{username}}</b></span>
                                <div class="logdiv">
                                    <a class="loglink" href="{{url_for('disconnect')}}"><button type="button" class="logbutton" name="logout">Log Out</button></a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid flash">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
            {% for message in messages %}
                <li> <strong> {{ message }} </strong> </li>
            {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </div>
        <div class="container block-stuff">
            {% block content %}
            {% endblock %}
        </div>
        <div class="container-fluid footer">
            <div class="col-xs-12">
                <p>Created under the <a href="https://creativecommons.org/publicdomain/zero/1.0/">Creative Common's License</a>. View the code for this project on <a href="https://github.com/GreenGiraffe1/Item-Catalog-Web-App-PSQL">GitHub</a>.</p>
            </div>
    </body>
</html>
