<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Catalog Web App</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <div class="container-fluid buttons header">
            {% if 'username' not in session %}
                <a href="{{url_for('showLogin')}}"><button type="button" name="login">Login</button></a>
            {% else %}
                <a href="{{url_for('disconnect')}}"><button type="button" name="logout">Log Out</button></a>
            {% endif %}
        </div>
        <div class="container-fluid title">
            <div class="row">
                <div class="col-xs-6 site-title">
                    <h1><a href="{{url_for('showCatalog')}}">Catalog Web App</a></h1>
                </div>
                <div class="col-xs-6 login-functions">

                </div>
            </div>
        </div>
        <div class="container-fluid flash">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
            {% for message in messages %}
                <li> <strong> {{ message }} </strong> </li>
            {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </div>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
        <div class="container-fluid footer">
            <span>Created under the <a href="#">Creative Common's License</a>.</span>
            <span>View this projects code on <a href="#">GitHub</a>.</span>
        </div>
    </body>
</html>
