{% extends "base.html" %}
{% block content %}

<div class="row middle">
    <div class="form-area col-xs-11 col-sm-9 col-md-7 col-lg-6">
        <form action="{{ url_for('edit_item',item_id = item.id)}}" method = "post">
            <h2>Editing Item: <b>{{item.name}}</b></h2>
            <label for="name">Name:</label>
            <br>
            <input type="text" name="name" value="{{item.name}}">
            <br><br>
            <label for="name">Description:</label>
            <div class="">
                <textarea name="description" rows="8" cols="60">{{item.description}}</textarea>
            </div>
            <br><br>
            <label for="name">Category:</label>
            <div class="radio-list">
                {% for category in categories %}
                    <input type="radio" name="category" value="{{category.id}}" checked="checked"> {{category.name}} <br>
                {% endfor %}
            </div>
            <br>
            <br>
            <div class="form-buttons">
                <button type="submit" name="confirm">Confirm Edit</button>
                <a href="{{url_for('item_details', item_id = item.id)}}">
                    <button type="button" name="cancel">Cancel</button>
                </a>
            </div>
        </form>
    </div>
    <div class="col-xs-1 col-sm-3 col-md-5 col-lg-6"></div>
</div>

{% endblock %}
