{% extends "base.html" %}
{% block content %}



	<div class="row banner main">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			<h1>Categories</h1>
			<div class="item-list">
				{% for category in catagories %}
					<a href="#">
						<h5 class="item">{{category.name}}</h3>
					</a>
				{% endfor %}
			</div>
		</div>
	</div>



	<div class="row banner main">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			<h1>Items</h1>
			<div class="item-list">
				{% for item in processors %}
					<a href="#">
						<h5 class="item">{{item.name}}</h3>
					</a>
				{% endfor %}
			</div>
		</div>
	</div>





{% endblock %}
