{% extends "base.html" %}
{% block content %}

<div class="row">
    <!-- <div class="col-xs-1"></div>
    <div class="col-xs-11"> -->
        {% if 'username' not in session %}

        {% else %}
            {% include "create.html" %}
        {% endif %}
    <!-- </div> -->
</div>
<div class="row middle">
    <div class="col-xs-1"></div>
    <div class="col-sm-5 col-xs-11 categories">
        <h2>Categories</h2>
        <div class="category-list">
            {% for catagory in catagories %}
                    <h5 class="category">
                        <a href="{{url_for('showSummary', catagory_id = catagory.id)}}">{{catagory.name}}</a>
                    </h3>
            {% endfor %}
        </div>
    </div>
    <div class="col-xs-1"></div>
    <div class="col-sm-5 col-xs-11 items">
        <h2>Items</h2>
        <div class="item-list">
            {% for item in processors %}
                    <h5 class="item">
                        <a href="{{url_for('showItem', item_id = item.id)}}">{{item.name}}</a>
                    </h3>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
