{% extends "base.html" %}
{% block content %}

<div class="row middle">
    <div class="col-xs-1"></div>
    <div class="col-sm-5 col-xs-11 categories">
        <h1>Categories</h1>
        <div class="category-list">
            {% for category in categories %}
                    <h5 class="category">
                        <a href="{{url_for('category_summary', category_id = category.id)}}">{{category.name}}</a>
                    </h3>
            {% endfor %}
        </div>
    </div>
    <div class="col-xs-1"></div>
    <div class="col-sm-5 col-xs-11 items">
        <h1>Items</h1>
        <div class="item-list">
            {% for item in items %}
                    <h5 class="item">
                        <a href="{{url_for('item_details', item_id = item.id)}}">{{item.name}}</a>
                    </h3>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
