{% extends "base.html" %}
{% block content %}

<div class="row create-row">
        {% if 'username' not in session %}
        {% else %}
            {% include "create.html" %}
        {% endif %}
</div>
<div class="row middle">
    <div class="item-details col-xs-8">
        <h2>{{item.name}}</h2>
        <p class="item-description">{{item.description}}</p>
        <div class="options">
            <a href="{{url_for('edit_item', item_id = item.id)}}">
                <button type="button" name="edit">Edit</button>
            </a>
            <a href="{{url_for('delete_item', item_id = item.id)}}">
                <button type="button" name="delete">Delete</button>
            </a>
        </div>
    </div>
    <div class="col-xs-4"></div>
</div>

{% endblock %}
