<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Catalog Web App</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <link rel="stylesheet" href="/static/styles.css">
        <script src="//apis.google.com/js/platform.js?onload=start"> </script>
    </head>
    <body>
        <div class="container-fluid header">
            <div class="row">
                <div class="col-xs-12 col-sm-6 site-title">
                    <h1><a href="{{url_for('show_catalog')}}">Catalog Web App</a></h1>
                </div>
                <div class="col-xs-12 col-sm-6 login-functions ">
                    <div class="log-in-out">
                        {% if 'username' not in session %}
                            <span class="loggedout">You're not currently logged in.</span>
                            <a class="inbut" href="{{url_for('show_login')}}"><button class="inbut" type="button" name="login">Login</button></a>
                        {% else %}
                            <div class="left">
                                <img class="img-fluid prof-pic" src="{{picture}}">
                            </div>
                            <div class="right">
                                <span class="logmsg">You're logged in as <b>{{username}}</b></span>
                                <a href="{{url_for('disconnect')}}"><button type="button" class="butt" name="logout">Log Out</button></a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid flash">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
            {% for message in messages %}
                <li> <strong> {{ message }} </strong> </li>
            {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </div>
        <div class="container block-stuff">
            <div class="row middle">
                <h2>Please Login with Facebook or Google+</h2>
                <div id="signinButton">
                    <span class="g-signin"
                        data-scope="openid email"
                        data-clientid="539176150684-4urstt8029s6inbv756g1pek2gc57krc.apps.googleusercontent.com"
                        data-redirecturi="postmessage"
                        data-accesstype="offline"
                        data-cookiepolicy="single_host_origin"
                        data-callback="signInCallback"
                        data-approvalprompt="force">
                    </span>
                </div>
                <fb:login-button scope="public_profile,email" onlogin="sendTokenToServer();">
                    <a href='javascript:sendTokenToServer()'>Sign in with Facebook</a>
                </fb:login-button>
                <div id="result"></div>
            </div>
        </div>
        <div class="container-fluid footer">
            <div class="col-xs-12 col-sm-6">
                <p>Created under the <a href="https://creativecommons.org/publicdomain/zero/1.0/">Creative Common's License</a>.</p>
            </div>
            <div class="col-xs-12 col-sm-6">
                <p>View the code for this project on <a href="https://github.com/GreenGiraffe1/fullstack-nanodegree-vm/tree/master/vagrant/catalog">GitHub</a>.</p>
            </div>
        </div>
<script>
function signInCallback(authResult) {
    if (authResult['code']) {
    // Hide the sign-in button now that the user is authorized
    $('#signinButton').attr('style', 'display: none');
    // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
    $.ajax({
        type: 'POST',
        url: '/gconnect?state={{STATE}}',
        processData: false,
        data: authResult['code'],
        contentType: 'application/octet-stream; charset=utf-8',
        success: function(result) {
            // Handle or verify the server response if necessary.
            if (result) {
                $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
                setTimeout(function() {
                    window.location.href = "/";
                }, 4000);
            } else if (authResult['error']) {
                console.log('There was an error: ' + authResult['error']);
            } else {
                $('#result').html('Failed to make a server-side call. Check your configuration and console.');
            }
        }
    }); }
}
</script>
<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '1687283198002205',
            cookie     : true,
            xfbml      : true,
            version    : 'v2.10'
        });
        FB.AppEvents.logPageView();
    };
    //  Loads / Calls the SDK Asynchronously
    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    function sendTokenToServer() {
        console.log('The function sendTokenToServer() has been called..')
        var access_token = FB.getAuthResponse()['accessToken'];
        console.log(access_token)
        console.log('Welcome!  Fetching your information.... ');
        FB.api('/me', function(response) {
            console.log('Successful login for: ' + response.name);
            $.ajax({
                type: 'POST',
                url: '/fbconnect?state={{STATE}}',
                processData: false,
                data: access_token,
                contentType: 'application/octet-stream; charset=utf-8',
                success: function(result) {
                    // Handle or verify the server response if necessary.
                    if (result) {
                        $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
                        setTimeout(function() {
                            window.location.href = "/";
                        }, 4000);
                    } else {
                        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
                    }
                }
            });
        });
    }

</script>
    </body>
</html>
