{% extends "base.html" %}
{% block content %}

<div class="row middle">
    <div class="form-area col-xs-11 col-sm-9 col-md-7 col-lg-6">
        <form action="{{url_for('new_item')}}" method = "post">
            <h2>Enter the Properties of the new Item:</h2>
            <label for="name">Name:</label>
            <input type="text" name="name" value="">
            <label for="name">Description:</label>
            <div class="">
                <textarea name="description" rows="8" cols="60"></textarea>
            </div>
            <label for="name">Category:</label>
            <div class="radio-list">
                {% for category in categories %}
                    <div class="radio">
                        <input type="radio" name="category" value="{{category.id}}" checked="checked">{{category.name}}
                    </div>
                {% endfor %}
            </div>
            <div class="form-buttons">
                <button type="submit" name="confirm">Confirm</button>
                <a href="{{url_for('show_catalog')}}">
                    <button type="button" name="cancel">Cancel</button>
                </a>
            </div>
        </form>
    </div>
    <div class="col-xs-1 col-sm-3 col-md-5 col-lg-6"></div>
</div>

{% endblock %}
